* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button--container {
    display: flex;
    text-align: center;
    height: 300px;
}

.button--container .btn {
    width: 25%;
    height: 100%;
    background-color: #55d8ff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    /* border-radius: 5px; */
    /* border-bottom: 5px solid #0090bb; */
    cursor: pointer;
    outline: none;
    line-height: 300px;
}

.button--container .btn.pokey {
    background-image: url(./TemplateData/pokey_img.png);
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode:lighten;
    background-size: cover;
}

.button--container .btn.chocopie {
    background-image: url(./TemplateData/chocopie_img.jpg);
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode:lighten;
    background-size: cover;
}

.button--container .btn.alfort {
    background-image: url(./TemplateData/alfort_img.png);
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode:lighten;
    background-size: cover;
}

/* .btn:active {
    transform: translateY(4px);
    border-bottom: 1px solid #0090bb;
} */

.button--container .btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode:lighten;
}