* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button--container {
    display: flex;
    text-align: center;
    height: 300px;
}

.button--container .btn {
    width: 25%;
    height: 100%;
    background-color: #55d8ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    /* border-radius: 5px; */
    /* border-bottom: 5px solid #0090bb; */
    cursor: pointer;
    outline: none;
    line-height: 300px;
}

/* .btn:active {
    transform: translateY(4px);
    border-bottom: 1px solid #0090bb;
} */

.button--container .btn:hover {
    background-color: #a3eaff;
}